body {
    text-align: center;
}

.nohaveto {
    text-decoration: underline;
    font-weight: bold;
}
input {
    text-align: center;
    padding: 5px;
    max-width: 750px;
    /*border: 20px;*/
}

button {
    text-align: center;
    max-width: 250px;
}

#fieldsGoHere {
    display: block;
    text-align: center;
    Margin: 0 auto;
    max-width: 750px
}