body {
    text-align: center;
}

.nohaveto {
    text-decoration: underline;
    font-weight: bold;
}
input {
    display: inline-block;
    text-align: center;
    padding: 5px;
    /*border: 20px;*/
}

#fieldColumn {
    max-width: 500px
}