body {
    text-align: center;
}

.nohaveto {
    text-decoration: underline;
    font-weight: bold;
}
input {
    text-align: center;
    padding: 5px;
    /*border: 20px;*/
}

div {
    text-align: center;
}

#fieldColumn {
    max-width: 750px
}

#buttonSection {
    max-width: 300px;
}